<header>
  <div>
    <h2>{{pageTitle}}</h2>
  </div>
  <div style="float:left; margin-right:5%;">
    <p onclick="location.href='/'">Home</p>
    <p onclick="location.href='/nodejs'">Node.js</p>
    <p onclick="location.href='/springboot'">Spring Boot</p>
    <p onclick="location.href='/javascript'">JavaScript</p>
  </div>
</header>
