<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>웹 개발</title>
  </head>
  <body>
    {{> header}}
    <p>
      {{WelcomeMsg}} <br />
      you can click one of three.
    </p>
    {{> footer}}
  </body>
</html>
