<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>웹 개발</title>
  </head>
  <body>
    {{> header}}
    <p>
      스프링부트는 단독실행되는, 실행하기만 하면 되는 상용화 가능한 수준의 스프링 기반 애플리케이션을, 쉽게 만들어낼 수 있다.<br />
      최소한의 설정으로 스프링 플랫폼과 서드파티 라이브러리들을 사용할 수 있도록 하고 있다.
    </p>
    {{> footer}}
  </body>
</html>
